<section class="vbox" id="bjax-el">
    <section class="scrollable padder-lg">
        <h2 class="font-thin m-b">Video</h2>
        <iframe width="100%" height="500" frameborder="0" allowfullscreen [src]="videoId | youtubeSafeUrl">
        </iframe>
        <h2 class="font-thin m-b">Related Videos</h2>
        <div class="row row-sm" *ngIf="videos.length > 0">
            <div class="col-xs-12 col-sm-4" *ngFor="let video of videos">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n"> <a [routerLink]="['/video',video.videoId]"><i class="fa fa-play-circle i-2x"></i></a> </div>
                        </div>
                        <div class="top"> <span class="badge bg-dark m-l-sm m-t-sm">03:20</span> </div>
                        <a [routerLink]="['/video',video.videoId]"><img [src]="video.thumbnailUrl" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v"> <a [routerLink]="['/video',video.videoId]" class="text-ellipsis">Tempered Song</a> <a [routerLink]="['/video',video.videoId]" class="text-ellipsis text-xs text-muted">Miaow</a> </div>
                </div>
            </div>
        </div>
    </section>
</section>