<section class="vbox">
    <section class="scrollable">
        <div id="masonry" class="pos-rlt animated fadeInUpBig">
            <masonry [options]="masonryOptions">
                <masonry-brick class="brick" *ngFor="let event of events">
                    <div class="item">
                        <div class="bottom gd bg-info wrapper">
                            <div class="m-t m-b"><a href="#" class="b-b b-info h4 text-u-c text-lt font-bold">Morbi</a>
                            </div>
                            <p class="hidden-xs">{{event.title}}</p>
                        </div>
                        <a href="#"><img src="images/m9.jpg" alt="" class="img-full">
                        </a>
                    </div>
                </masonry-brick>
            </masonry>
        </div>
    </section>
</section>